<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="heading">
        <h1>Login</h1>
    </div>
    <div class="log_in">
        <form action="/userLogin" method="post" class="form">
            <input autocomplete="off" type="email" name="mail" id="email" placeholder="Enter BMS Email Id" required>
            <input autocomplete="off" type="password" name="pass" id="password" placeholder="Password" required>
            <p class="wrongDetails" style="color: red;">
                <% if(msg.length>0){ %>
                    <% if(msg==="Email Id not found"){ %>
                        New User? <a href="/registrationpage">Register Here</a>
                    <% }else if(msg==="Wrong Credentials"){ %>
                        Wrong Credentials
                    <% } %>
                <% } %>
            </p>
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>
</body>
</html>